<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <!-- 搜索引擎优化相关 -->
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link rel="shortcut icon" href="favicon.ico">

    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

    <title>达竹科技总控后台</title>

    <!-- jquery -->
    <script src="__public__/common/jquery/jquery-2.0.0.min.js"></script>
    <!-- bootstarp -->
    <link rel="stylesheet" href="__public__/common/bootstarp/bootstrap.min.css">
    <script src="__public__/common/bootstarp/bootstrap.js"></script>
    <!-- 字体库 -->
    <link rel="stylesheet" href="__public__/common/font-awesome/css/font-awesome.min.css">
    <!-- iCheck -->
    <script src="__admin__/js/plugins/iCheck/icheck.min.js"></script>
    <link href="__admin__/css/plugins/iCheck/custom.css" rel="stylesheet">

    <link href="__admin__/css/animate.css" rel="stylesheet">
    <link href="__admin__/css/style.css?v=4.1.0" rel="stylesheet">
    <!-- 自定义js库 -->
    <script src="__admin__/js/extend.js"></script>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-sm-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>编辑页面 <small>编辑页面</small></h5>
        </div>
        <div class="ibox-content">
          <form method="get" class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-2 control-label">职位名称</label>
              <div class="col-sm-10">
                <input class="form-control verify" name="admin_role_name" type="text" value="{$info.admin_role_name}"/>
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            {neq name="Think.get.id" value="1"}
            <div class="form-group">
              <label class="col-sm-2 control-label">所属职位</label>
              <div class="col-sm-10">
                <select class="form-control verify" name="admin_role_pid">
                  <option value="">-请选择-</option>
                  {volist name="AdminRole_lists" id="v"}
                  <option value="{$v.admin_role_id}" permission='{$v.admin_role_permission}' {eq name="v['admin_role_id']" value="$info['admin_role_pid']"}selected{/eq}>{:str_repeat('&nbsp;&nbsp;',substr_count($v['admin_role_evalpath'],'-'))}{$v.admin_role_name}</option>
                  {/volist}
                </select>
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
              <label class="col-sm-2 control-label">职位权限</label>
              <div class="col-sm-10 permission">
                {volist name="AdminMenu_lists" id="v"}
                <div class="checkbox">
                  <label eval="{$v.admin_menu_eval}">
                    {:str_repeat('&nbsp;&nbsp;&nbsp;',$v['admin_menu_eval'])}<input type="checkbox" name="admin_role_permission[]" value="{$v.admin_menu_id}" {in name="v.admin_menu_id" value="$info['admin_role_permission']"}checked{/in}> {$v.admin_menu_name}
                  </label>
                </div>
                {/volist}
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            {/neq}
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                    <input type="hidden" name="id" value="{$Think.get.id}">
                    <button class="btn btn-primary" type="submit">保存内容</button>
                    <button class="btn btn-white" type="submit">取消</button>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 自定义js -->
<script src="__admin__/js/content.js?v=1.0.0"></script>
<!-- iCheck -->
<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    });
</script>

<script>
$(document).ready(function(){
  $('.permission input[name="admin_role_permission[]"]').click(function(){
    var label = $(this).parent('label');
    var eval = label.attr('eval');
    if ($(this).is(':checked')) {
      for (var i=eval-1; i>=1; i--) {
        label.prevAll('label[eval="'+i+'"]:first').find('input[type="checkbox"]').prop('checked',true);
      }
    }else{
      label.nextUntil('label[eval="'+eval+'"]').find('input[type="checkbox"]').prop('checked',false);
    }
  });
});
</script>
</body>
</html>